* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Burger menu start */
.mobile-header-logo {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.mobile-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_sigin-in {
  background-color: transparent;
  border-radius: 4px;
  border: solid;
  border-color: #bcd0e5;
  border-width: 2px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 90%;
  margin-bottom: 20px;
}
.mobile_sigin-up {
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 90%;
  align-items: center;
}
.mobile-dark-mode {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  position: relative;
  top: 110px;
}
.mobile-dark-mode_img {
  margin-left: 5px;
}
.dark-mode_text {
  background-color: #02897a;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
.burger-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 50px;
  top: 30px;
  display: none;
  background-color: #02897a;
  border-radius: 4px;
  padding: 5px;
  z-index: 30;
}
.burger-menu .line {
  position: relative;
  width: 100%;
  height: 2.5px;
  background: white;
  display: block;
}
.burger-menu .line::after {
  content: "";
  width: 100%;
  height: 2.5px;
  display: block;
  position: absolute;
  top: 7px;
  background: white;
}
.burger-menu .line::before {
  content: "";
  width: 100%;
  height: 2.5px;
  display: block;
  position: absolute;
  top: -7px;
  background: white;
}
.menu_container {
  display: none;
}
.mobile_menu_overlay,
.mobile_menu_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mobile_menu_container,
.mobile_menu_container ul li ul {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.mobile_menu_overlay {
  display: none;
  cursor: pointer;
  z-index: 10200;
  background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  width: 300px;
  overflow: hidden;
  z-index: 10201;
  background: white;
}
.mobile_menu_container.loaded {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content {
  overflow: auto;
  max-height: 100%;
  padding-bottom: 20px;
}
.mobile_menu_container ul {
  margin: 0;
  padding: 0;
}
.mobile_menu_container ul li {
  list-style: none;
}
.mobile_menu_container ul li a {
  display: block;
  padding: 15px 20px;
  line-height: 20px;
  font-size: 16px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.mobile_menu_container ul li a.parent {
  padding-right: 50px;
}
.mobile_menu_container ul li a.back {
  padding-left: 50px;
  background-size: 20px;
  box-sizing: border-box;
  min-height: 50px;
}
.mobile_menu_container ul li ul {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mobile_menu_container ul li ul.loaded {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.mobile_menu_container ul li ul.activity {
  overflow-y: auto;
  overflow-x: hidden;
}
.burger-lik {
  font-size: 25px;
}
@media (max-width: 320px) {
  .mobile_menu_container {
    width: 240px;
  }
}
/* Burger menu end */

.header {
  display: block;
  margin-top: 20px;
}
.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header-content {
  display: flex;
  align-items: center;
}
.menu-item {
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin-right: 24px;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  min-width: 380px;
}
.sigin-in {
  background-color: transparent;
  border-radius: 4px;
  border: solid;
  border-color: #bcd0e5;
  border-width: 1px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 24px;
  cursor: pointer;
}
.sigin-up {
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 24px;
  cursor: pointer;
}
.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: #f3f3f3;
  border-radius: 50px;
  cursor: pointer;
}
/* Get Started start */
.get-started {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  width: 100%;
}
.get-started_title {
  margin-bottom: 20px;
}
.get-started_description {
  margin-bottom: 45px;
}
.title {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}
.description {
  font-size: 18px;
  max-width: 400px;
  width: 100%;
  margin: 0;
}
.buttons {
  display: flex;
  align-items: center;
}
.get-started_button {
  background-color: #02897a;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.watch-video {
  display: flex;
}
.play {
  padding-right: 10px;
}
.watch-video {
  color: #02897a;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
/* Get Started end */

/* Features Start */
.features__items_block {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  width: 100%;
}
.features__items {
  display: flex;
  justify-content: space-between;
 
}
.features {
  display: block;
  justify-content: space-between;
  width: 100%;
}
.features-block__title {
  margin-top: 150px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 32px;
  color: #22343d;
  text-align: center;
}
.features-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.features-description {
  font-size: 16px;
  color: #22343d;
}
.features-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
}
.features-sigin-up {
  color: white;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  padding: 15px 35px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
/* Features End */

/* Advanteges start */
.advantages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
}
.pre-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}
.adv-title {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}
.text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding-top: 25px;
}
.second-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}
.second-text {
  font-size: 16px;
  line-height: 26px;
}
.img2 {
  margin-right: 98px;
}
.adv-item {
  display: flex;
  align-items: center;
}
.item-mark {
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item-text {
  font-size: 16px;
  line-height: 26px;
}
/* Advanteges end */

/* Opinions start */
.opinions {
  display: block;
  margin: 0 auto;
}
.opinions-header {
  margin-top: 150px;
  text-align: center;
}
.opinions-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
  padding-bottom: 16px;
}
.opinions-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.opinions-item-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-item1 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.photo {
  border: solid;
  border-width: 3px;
  border-color: #ff0909;
  border-radius: 100px;
  width: 100px;
  margin-right: 16px;
}
.photo1 {
  border: solid;
  border-width: 3px;
  border-color: #02897a;
  border-radius: 100px;
  width: 100px;
  margin-left: 16px;
}
.photo2 {
  border: solid;
  border-width: 3px;
  border-color: #740a76;
  border-radius: 100px;
  width: 100px;
  margin-left: 16px;
}
.photo3 {
  border: solid;
  border-width: 3px;
  border-color: #035b81;
  border-radius: 100px;
  width: 100px;
  margin-right: 16px;
}
.card-text {
  font-weight: 500;
  font-size: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.25);
  padding: 20px 25px;
  border-radius: 70px;
}
.opinions-card {
  margin-top: 30px;
}
/* Opinions end */

/* Slider start */
.slider-header {
  margin-top: 150px;
}
.card-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}
.slider-content {
  margin-top: 35px;
}
.slider-card {
  max-width: 350px;
  width: 100%;
  border: solid;
  border-color: #dedede;
  border-width: 1px;
  border-radius: 8px;
}
.slider-card-text {
  margin-top: 25px;
  margin-left: 25px;
}
.slider-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
  padding-bottom: 10px;
}
.slider-descripnion {
  font-weight: 500;
  font-size: 16px;
}
.slider-img {
  width: 350px;
  border-radius: 8px 8px 0 0;
}
.card-title {
  font-weight: bold;
  font-size: 24px;
}
.slider {
  margin-bottom: 150px;
}
.slider .slick-dots li.slick-active button:before {
  color: #02897a;
  font-size: 16px;
}
.slider .slick-dots li button:before {
  color: #efefef;
  font-size: 16px;
  opacity: 1;
  padding-top: 30px;
}
/* Slider end */

/* Price-cards start */
.price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 50px;
  margin-bottom: 150px;
}
.price-card-item {
  display: block;
  margin: 0 auto;
}
.price-header {
  display: block;
  margin: 0 auto;
}
.price-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
}
.price-description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.price-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.price-card-description {
  text-align: center;
}
.price-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.value {
  font-size: 76px;
  font-weight: bold;
  color: #02897a;
  margin: 0;
  padding-right: 8px;
}
.currency {
  color: #02897a;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.date {
  margin: 0;
  font-size: 16px;
  color: #afafaf;
}
.details-item {
  text-align: center;
}
.card-button {
  display: flex;
  justify-content: center;
}
.button {
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: #02897a;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 38px;
}
.price-cards-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 50px;
  margin-bottom: 150px;
  background: #02897a;
}
.primary-card-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.primary-card-description {
  text-align: center;
  color: white;
}
.primary-value {
  font-size: 76px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding-right: 8px;
}
.primary-currency {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.primary-date {
  margin: 0;
  font-size: 16px;
  color: white;
}
.primary-details-item {
  text-align: center;
  color: white;
}
.primary-button {
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 38px;
}
/* Price cards end */

/* Reviews start */
.reviews-cards {
  margin-bottom: 150px;
}
.reviews-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.reviews-header {
  display: block;
  margin: 0 auto;
}
.reviews-title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  margin: 8px;
}
.reviews-description {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.reviews-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 330px;
  padding: 28px 26px;
}
.reviwe-text {
  font-size: 16px;
  line-height: 28px;
  color: #737373;
}
.profile-item {
  display: flex;
  align-items: center;
}
.profile-img {
  border: 1px solid #bdbdbd;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.name {
  font-weight: 600;
  font-size: 16px;
  color: #02897a;
  margin: 0;
  padding-bottom: 5px;
}
.prof {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
/* Reviews end */

/* Join start */
.join-card-content {
  display: block;
  margin: 0 auto;
  margin-bottom: 150px;
}
.join-card {
  display: flex;
  background: #02897a;
  border-radius: 32px;
  align-items: center;
  max-width: 968px;
  width: 100%;
  justify-content: space-between;
}
.join-title {
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  width: 400px;
  margin: 0;
  padding-left: 50px;
  padding-bottom: 50px;
}
.join-button {
  background: #ffffff;
  border-radius: 8px;
  color: #02897a;
  font-weight: 600;
  font-size: 20px;
  padding: 13px 35px;
  border: none;
  margin-left: 50px;
}
.join-img {
  align-items: center;
}
/* Join end */

/* Footer start */
.footer {
  margin-bottom: 80px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}
.social-buttons {
  max-width: 350px;
  width: 100%;
}
.social-media {
  display: block;
  margin-top: 28px;
}
.social-logo {
  margin-right: 16px;
}
.links {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
.nav-title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
}
.resource {
  display: flex;
  flex-direction: column;
}
.qick-link {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
.legal-stuff {
  display: flex;
  flex-direction: column;
}
.form-title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
}
.form-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  max-width: 345px;
  width: 100%;
  padding: 15px 10px 10px;
  margin-bottom: 21px;
}
.form-button {
  background: #02897a;
  border-radius: 4px;
  color: white;
  padding: 8px 15px;
  border: none;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* Footer end */

@media (max-width: 1088px) {
  .header .header-content .header-logo {
    min-width: 300px;
  }
  .container {
    max-width: 980px;
  }
  .section1 .img {
    width: 95%;
  }
  .section3 .img {
    width: 95%;
  }
  .section3 .adv-title {
    font-size: 26px;
  }
  .section3 .second-text {
    max-width: 400px;
    width: 100%;
  }
  .section4 .img2 {
    width: 95%;
    margin-right: 0;
  }
  .section4 .adv-title {
    font-size: 26px;
  }
  .section5 .img {
    width: 95%;
  }
  .section5 .adv-title {
    font-size: 26px;
  }
  .section5 .second-text {
    max-width: 400px;
    width: 100%;
  }
  .opinions-header {
    margin-top: 100px;
  }
  .slider {
    margin-bottom: 100px;
  }
  .slider-header {
    margin-top: 100px;
  }
  .slider .slider-card .slider-img {
    width: 300px;
  }
  .slider .slider-card {
    width: 300px;
  }
  .slider .slider-card-text .card-title {
    font-size: 20px;
  }
  .cards .price-cards {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .cards .price-cards-primary {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .reviews-item {
    width: 300px;
    padding: 25px 25px;
  }
  .social-buttons {
    max-width: 230px;
  }
}
@media (max-width: 972px) {
  .header .header-content .header-logo {
    min-width: 250px;
  }
  .features-block__title {
    margin-top: 100px;
  }
  .advantages {
    margin-top: 100px;
  }
}
@media (max-width: 924px) {
  .menu_container {
    display: block;
  }
  .header .header-content {
    display: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 877px) {
  .section1 .get-started .title {
    font-size: 30px;
  }
  .section1 .get-started .description {
    font-size: 15px;
  }
  .section1 .get-started .get-started_button {
    font-size: 14px;
    padding: 15px 30px;
  }
  .section1 .get-started .watch-video {
    font-size: 14px;
  }
  .section1 .img {
    width: 90%;
  }
  .slider .slider-card .slider-img {
    width: 250px;
  }
  .slider .slider-card {
    width: 250px;
  }
  .slider .slider-card-text .card-title {
    font-size: 16px;
  }
  .slider .slider-card-text .date {
    font-size: 14px;
  }
  .cards .price-cards {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .cards .price-cards-primary {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .cards .price-cards .price-card-title {
    font-size: 20px;
  }
  .cards .price-cards .price-card-description {
    font-size: 14px;
  }
  .cards .price-cards .details-item {
    font-size: 14px;
  }
  .cards .price-cards .value {
    font-size: 66px;
  }
  .cards .price-cards .currency {
    font-size: 20px;
  }
  .cards .price-cards .date {
    font-size: 14px;
  }
  .cards .price-cards .button {
    font-size: 16px;
  }

  .cards .price-cards-primary .primary-card-title {
    font-size: 20px;
  }
  .cards .price-cards-primary .primary-card-description {
    font-size: 14px;
  }
  .cards .price-cards-primary .primary-details-item {
    font-size: 14px;
  }
  .cards .price-cards-primary .primary-value {
    font-size: 66px;
  }
  .cards .price-cards-primary .primary-currency {
    font-size: 20px;
  }
  .cards .price-cards-primary .primary-date {
    font-size: 14px;
  }
  .cards .price-cards-primary .primary-button {
    font-size: 16px;
  }
}
@media (max-width: 841px) {
  .cards .price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards .price-cards {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    align-items: center;
  }
  .cards .price-cards-primary {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    align-items: center;
  }
  .reviews-cards {
    margin-bottom: 50px;
  }
  .reviews-header {
    margin-top: 50px;
  }
  .reviews-cards .reviews-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews-cards .reviews-card-container .reviews-item {
    margin-bottom: 20px;
  }
  .footer .footer-content .footer-form {
    display: block;
  }
}
@media (max-width: 765px) {
  .section1 .cover-img {
    display: none;
  }
  .section1 .get-started {
    justify-content: center;
    align-items: center;
  }
  .section1 .get-started .get-started_title .title {
    text-align: center;
    font-size: 35px;
  }
  .section1 .get-started .get-started_description .description {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }
  .section1 .get-started .buttons {
    display: flex;
    justify-content: center;
  }
  .section1 .get-started .buttons .get-started_button {
    font-size: 18px;
  }
  .section1 .get-started .buttons .watch-video {
    font-size: 18px;
  }
  .section3 .features .features__items_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section3 .features .features-item {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .opinions-item-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .join-card-content .join-card {
    max-width: 700px;
    width: 100%;
  }
  .join-card-content .join-card .join-title {
    font-size: 20px;
  }
  .join-card-content .join-card .join-button {
    font-size: 16px;
  }
  .join-card-content .join-card .join-igm-item {
    width: 100%;
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }
  .slider .slider-card .slider-img {
    width: 220px;
  }
  .slider .slider-card {
    width: 220px;
  }
  .slider .slider-card-text .card-title {
    font-size: 15px;
  }
  .slider .slider-card-text .date {
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  .section3 .advantages .adv-img .img {
    display: none;
  }
  .section3 .advantages .advantages-content {
    margin: 0 auto;
  }
  .section3 .advantages .advantages-content .pre-title {
    text-align: center;
  }
  .section3 .advantages .advantages-content .adv-title {
    text-align: center;
  }
  .section3 .advantages .advantages-content .text {
    text-align: center;
  }
  .section3 .advantages .advantages-content .second-title {
    text-align: center;
  }
  .section3 .advantages .advantages-content .second-text {
    text-align: center;
  }
  .section4 .advantages .adv-img .img2 {
    display: none;
  }
  .section4 .advantages .advantages-content {
    margin: 0 auto;
  }
  .section4 .advantages .advantages-content .pre-title {
    text-align: center;
  }
  .section4 .advantages .advantages-content .adv-title {
    text-align: center;
  }
  .section4 .advantages .advantages-content .text {
    text-align: center;
  }
  .section4 .advantages .advantages-content .second-title {
    text-align: center;
  }
  .section4 .advantages .advantages-content .second-text {
    text-align: center;
  }
  .section5 .advantages .adv-img .img {
    display: none;
  }
  .section5 .advantages .advantages-content {
    margin: 0 auto;
  }
  .section5 .advantages .advantages-content .pre-title {
    text-align: center;
  }
  .section5 .advantages .advantages-content .adv-title {
    text-align: center;
  }
  .section5 .advantages .advantages-content .text {
    text-align: center;
  }
  .section5 .advantages .advantages-content .second-title {
    text-align: center;
  }
  .section5 .advantages .advantages-content .second-text {
    text-align: center;
  }
  .card-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
 }
}
@media (max-width: 376px) {
  .section5 .advantages .advantages-content .second-title {
    font-size: 16px;
  }
  .section1 .get-started .get-started__button .get-started_button {
    font-size: 15px;
    padding: 15px 30px;
    max-width: 140px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;  
  }
  .section1 .get-started .watch-video>.watch-video {
    font-size: 15px;
    max-width: 140px;
    width: 100%;
  }
  .section1 .get-started .buttons {
    flex-direction: column;
    justify-content: center;
  }
  .join-card-content {
    margin-bottom: 100px;
  } 
  .join-card-content .join-card .ofer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card .join-title {
    padding-left: 20px;
    max-width: 280px;
    padding:20px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .join-card-content .join-card .join-button {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 50%;
  }
  .join-card-content .join-card .join-igm-item {
    display: none;
  }
  .footer .footer-content .footer-links {
    flex-direction: column;
  }
  .footer .footer-content .footer-links .social-buttons {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .resource {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .legal-stuff {
    margin-bottom: 30px;
  }
  .slider .slider-card .slider-img {
    width: 100%;
  }
  .slider .slider-card {
    width: 100%;
  }
  .slider .slider-card-text .card-title {
    font-size: 23px;
  }
  .slider .slider-card-text .date {
    font-size: 16px;
  }
  .cards .price-cards {
    width: 80%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .cards .price-cards-primary {
    width: 80%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .section3 .features .features__items {
    flex-direction: column;
  }
  .footer {
    margin-bottom: 30px;
  }
}
@media (max-width: 430px) {
    .section5 .advantages .advantages-content .second-title {
    font-size: 16px;
  }
  .section1 .get-started .get-started__button .get-started_button {
    font-size: 15px;
    padding: 15px 30px;
    max-width: 140px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;  
  }
  .section1 .get-started .watch-video>.watch-video {
    font-size: 15px;
    max-width: 140px;
    width: 100%;
  }
  .section1 .get-started .buttons {
    flex-direction: column;
    justify-content: center;
  }
  .join-card-content {
    margin-bottom: 100px;
  } 
  .join-card-content .join-card .ofer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card .join-title {
    padding-left: 20px;
    max-width: 280px;
    padding:20px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .join-card-content .join-card .join-button {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 50%;
  }
  .join-card-content .join-card .join-igm-item {
    display: none;
  }
  .footer .footer-content .footer-links {
    flex-direction: column;
  }
  .footer .footer-content .footer-links .social-buttons {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .resource {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .legal-stuff {
    margin-bottom: 30px;
  }
  .slider .slider-card .slider-img {
    width: 100%;
  }
  .slider .slider-card {
    width: 100%;
  }
  .slider .slider-card-text .card-title {
    font-size: 23px;
  }
  .slider .slider-card-text .date {
    font-size: 16px;
  }
  .cards .price-cards {
    width: 80%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .cards .price-cards-primary {
    width: 80%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .section3 .features .features__items {
    flex-direction: column;
  }
  .footer {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .cards .price-cards {
    width: 70%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .cards .price-cards-primary {
    width: 70%;
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .footer .footer-content .footer-links {
    flex-direction: column;
  }
  .footer .footer-content .footer-links .social-buttons {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .resource {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links .legal-stuff {
    margin-bottom: 30px;
  }
  .join-card-content .join-card .ofer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card {
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .join-card-content .join-card .join-title {
    padding-left: 20px;
    max-width: 280px;
    padding:20px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .join-card-content .join-card .join-button {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 70%;
  }
  .join-card-content .join-card .join-igm-item {
    width: 100%;
  }
}